
/* NORMALIZACIÓN */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*esto mantiene el ancho y alto a pesar de padding y border */
    font-family: "Poetsen One", sans-serif;
    list-style: none; /* esto quita los puntos de decoracion de las listas */
    text-decoration: none; /* esto quita el subrayado de los enlaces */
    color: rgb(255, 255, 255);
}

body{
    background-color: black; /*borrar cuando tengamos fondo final */
}

header {
    position: fixed; /* hace que el header quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100; /* esto hace que el header se muestre por encima siempre*/ 
    width: 100%;
    display: flex; /* esto hara que los elementos se pongan en linea */ 
    align-items: center;
    justify-content: space-between; /* que los elementos se separen */
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 800;

}

.navlist{
    display: flex; /* elementos en la lista se ordenan en lista*/

}

.navlist a{
    margin-left: 35px; /* separamos las  barras */
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent; /* este es un subrayado transparente */
    transition: all .5s ease; /* esto es para animar todas las caracteristicas del navlist */
}

.navlist a:hover{
    border-bottom: 2px solid white; /* subrayado blanco que aparece al poner el mouse sobre*/

}

#menu-icon{
    display: none;
}
/* esto lo pongo en none para que solo se vea cuando la pagina este colapsada */

#menu-icon{
    color: white;
    font-size: 40px;
    z-index: 101;
    cursor: pointer;
}

#menu-toggle{
    display: none;
}

.menu-icon-action{
    display: block;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #875fbb 0%, #4c297a 25%, #230b42 50%, #100222 75%, #040008 100%);
    position: relative; /* nos permite usar top bottom left right*/
    display: grid; /* para dividir el hero en columnas */
    grid-template-columns: 1fr 1fr; /* division de columnas */
    align-items: center; 
    gap: 2rem;
}

section{
    padding: 0 8%;
}

.hero-text h5{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 90px;
    line-height: 1.9;
}


.hero-img{
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all .5s linear; 
}

.hero-img:hover {
    width: 450px;
    opacity: 0.75;
}

.hero-text a {
    display: inline-block;
    background-color: cadetblue;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.play-game{
    background-color: rgb(rgb(77, 67, 67), rgb(49, 110, 49), blue);
    border: 1px solid white;
    margin-left: 10px;
}

.hero-text a.play-game i{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 30px;

}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);

}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: #4d4d4d;
    transform: translateY(-2px);
}

.scroll-down{
    position: absolute;
    right: 3%;
    bottom: 6%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 24px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease;

}

.scroll-down i:hover{
    transform: translateY(-5px);
}


/* ACA VAMOS A HACER MEDIAQUERIES PARA HACER LA PANTALLA RESPONSIVE */

@media (max-width: 992px){
    section {
        padding: 0 3%;
        transition: .2s;

    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .scroll-down {
        display: none;
    }

    .icons{
        display: none;
    }
} 

@media (max-width: 768px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;

    }

    .hero-img img{
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #0e414113;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .4s ease-out;

    }

    .navlist a{
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul {
        right: 0;
    }

}